**/bin/
**/obj/
.git/
.gitignore
.vs/
.vscode/
*.user
docker-compose*.yml
Dockerfile
.dockerignore
.env
.env.*
docs/
logs/
data/
config/
sbln.sh
README*
install.sh
sblnproto.sh
**/.git
external/DTF/artifacts/
output/
